{% extends "base.html" %}



{% block content %} 
{% load crispy_forms_tags %}
<h2>{% if is_edit %}Edit{% else %}Add{% endif %} User</h2>

<form method="POST" style="width: 400px;">
    {% csrf_token %}
    {{ form|crispy }}
    {% if is_edit %}
        <button type="submit" class="btn btn-warning">Update</button>
    {% else %}
        <button type="submit" class="btn btn-success">Create</button>
    {% endif %}
    <a href="{% url 'users_list' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}